$is-warning:orange;
@import "bulma/bulma";
body {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
//  min-height:-webkit-fill-available;
  background-color:$black;
}
.header {
  font-size:24px;
  background-color:$black-bis;
  color:orange;
  padding:1rem 1.5rem;
}
.hero-body {
  padding-top:1rem;
  padding-bottom:0rem;
  .container {
    padding-bottom: 10rem;
  }
}


.footer {
  background-color:$black-bis;
}
.section {
  display:flex;
  flex:1 0 auto;
}
