<% if session[:current_user_id] %>
  <% content_for :navigation_to_user do %>
    <%= link_to "#{@user_name}", users_path(session[:current_user_id]), :class => "button is-light is-outlined" %>
  <% end %>
<% end %>
<div class="hero is-dark is-bold is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       Welcome Wormholers
      </h1>
      <h2 class="subtitle">
       <i>( access restricted to corporation members only )</i>
      </h2>
      <%= image_tag("wormhole_entrance.png") %>
    </div>
  </div>
</div>
