
<div class="hero is-dark is-bold is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       Welcome Wormholers
      </h1>
      <h2 class="subtitle">
       <i>( access restricted to corporation members only )</i>
      </h2>
      <%= image_tag("wormhole_entrance.png") %>
    </div>
  </div>
</div>
